/* styles.css */
/* This CSS file is linked to the index.html file */
body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: #8a4747;
}

header {
    background-color: #8a4747;
    color: white;
    padding: 1% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-image{
    width:50rem;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 2rem;
    
}

p{
    color: white;
}
/* footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.headline{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */
.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
.text{
    font-size: 2rem;
    text-align:justify;
    width: 40%;
}
.model-viewer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 5rem;
}
